In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scanpy as sc

import loompy as lmp
import anndata
from scipy import io
from scipy.sparse import coo_matrix, csr_matrix
import os

/home/eunkyu/miniconda3/envs/mebo/lib/python3.8/site-packages/loompy/bus_file.py:68: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  def twobit_to_dna(twobit: int, size: int) -> str:
/home/eunkyu/miniconda3/envs/mebo/lib/python3.8/site-packages/loompy/bus_file.py:85: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  def dna_to_twobit(dna: str) -> int:
/home/eunkyu/miniconda3/envs/mebo/lib/python3.8/site-packages/loompy/bus_file.py:102: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  def twobit_1hamming(twobit: int, size: int) -> List[int]:

In [2]:
X=io.mmread("/data/project/eunkyu/CCE/matrix.mtx")

In [3]:
adata= anndata.AnnData(X=X.transpose().tocsr())

In [4]:
adata

AnnData object with n_obs × n_vars = 5593 × 21994

In [5]:
metadata=pd.read_csv("/data/project/eunkyu/CCE/metadata.csv")

In [6]:
with open("/data/project/eunkyu/CCE/gene_names.csv",'r') as f:
    gene_names=f.read().splitlines()

In [7]:
adata.obs=metadata
adata.obs.index=adata.obs['barcode']
adata.var.index=gene_names

In [8]:
adata

AnnData object with n_obs × n_vars = 5593 × 21994
    obs: 'orig.ident', 'nCount_RNA', 'nFeature_RNA', 'percent.mt', 'RNA_snn_res.0.2', 'seurat_clusters', 'SingleR.labels', 'RNA_snn_res.0.5', 'barcode', 'UMAP_1', 'UMAP_2'

In [9]:
pca=pd.read_csv("/data/project/eunkyu/CCE/pca.csv")
pca.index=adata.obs.index

In [10]:
adata.obsm['X_pca']=pca.to_numpy()
adata.obsm['X_umap']=np.vstack((adata.obs['UMAP_1'].to_numpy(),adata.obs['UMAP_2'].to_numpy())).T

In [11]:
adata

AnnData object with n_obs × n_vars = 5593 × 21994
    obs: 'orig.ident', 'nCount_RNA', 'nFeature_RNA', 'percent.mt', 'RNA_snn_res.0.2', 'seurat_clusters', 'SingleR.labels', 'RNA_snn_res.0.5', 'barcode', 'UMAP_1', 'UMAP_2'
    obsm: 'X_pca', 'X_umap'

In [12]:
adata.obs_names = adata.obs_names.rename('cell')

In [13]:
adata.obs

,orig.ident,nCount_RNA,nFeature_RNA,percent.mt,RNA_snn_res.0.2,seurat_clusters,SingleR.labels,RNA_snn_res.0.5,barcode,UMAP_1,UMAP_2
cell,,,,,,,,,,,
AAACCCAAGCACCGAA-1,CCE,1952,1118,3.688525,3,2,Adipocytes,2,AAACCCAAGCACCGAA-1,-2.890319,4.648033
AAACCCAAGCCAAGCA-1,CCE,2878,1755,1.841557,1,4,Fibroblasts,4,AAACCCAAGCCAAGCA-1,10.603585,-0.875949
AAACCCAAGGCCTAAG-1,CCE,2095,1095,5.393795,0,1,Adipocytes,1,AAACCCAAGGCCTAAG-1,-4.919056,-5.171633
AAACCCACAGACACCC-1,CCE,3412,1570,1.201641,0,1,Adipocytes,1,AAACCCACAGACACCC-1,-6.518953,-4.938670
AAACCCACATTGAAGA-1,CCE,1971,1136,0.152207,2,0,Adipocytes,0,AAACCCACATTGAAGA-1,-6.127687,4.019950
...,...,...,...,...,...,...,...,...,...,...,...
TTTGGTTTCAGCTGTA-1,CCE,1819,1009,3.628367,3,2,Adipocytes,2,TTTGGTTTCAGCTGTA-1,-3.352790,4.664579
TTTGTTGAGAGCCATG-1,CCE,2482,1186,3.827558,0,1,Adipocytes,1,TTTGTTGAGAGCCATG-1,-5.970493,-3.773758
TTTGTTGAGATGGTCG-1,CCE,1926,1076,1.246106,2,0,Adipocytes,0,TTTGTTGAGATGGTCG-1,-8.007206,1.839575
TTTGTTGAGCTTGTTG-1,CCE,2032,1064,3.297244,0,1,Adipocytes,1,TTTGTTGAGCTTGTTG-1,-6.597866,-3.680274
TTTGTTGTCCATCAGA-1,CCE,4016,1906,0.697211,2,0,Adipocytes,0,TTTGTTGTCCATCAGA-1,-5.810965,3.466221

In [14]:
adata.write("/data/project/eunkyu/CCE/CCE.h5ad")